/* 颜色 */

// 字体颜色
$color: #262626;
// 背景色 浅-深
$backColor: #F0F0F0;
$backColor-1: #EBEBEB;
$backColor-2: #E8E8E8;
$backColor-3: #D3D3D3;
$backColor-4: #C7C7C7;

$themeColor: #FFEC8B;

/* 高度 */
$Vh: 100vh;